.stories__header{
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    .stories__logo{
        width: 129px;
        height: 42px;
    }
    .signin{
        border: none;
        outline: none;
        background: #f0f1f6;
        color: #000;
        border-radius: 19px;
        font-size: 14px;
        font-weight: 500;
        padding: 11px 18px;

        &:hover {
            color: #fff;
            background: #000;
        }
    }
}
  .user-stories {
    padding: 80px 50px 87px;
    // background: #f0f1f6;
    .user-stories-heading {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        color: #000;
        margin-bottom: 28px;
        letter-spacing: 0px;
    }

    .user-stories-sub-title {
        color: #898989;
        font-size: 16px;
        text-align: center;
        margin-bottom: 34px;
        letter-spacing: 0px;
    }
    .stories {
        .stories-list {
            margin-bottom: 44px;
            // padding: 14px;
            .story-img {
                width: 100%;
                height: 154px;
                object-fit: cover;
                object-position: center;
            }

            .story-details {
                background: #fff;
                box-shadow: 2px 2px 8px #00000029;
                padding: 0 33px 22px;
                .success-stories-heading {
                    font-size: 18px;
                    color: #000;
                    font-weight: 500;
                    padding: 20px 0px 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 78px;
                    margin-bottom: 10px;
                }
                .success-stories-description {
                    padding: 0px 0px 34px;
                    color: #898989;
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 52px;
                    margin-bottom: 34px;
                }
                .read-more {
                    color: #1fae4b;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

      
    }
}