.stories__header {
  height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.stories__header .stories__logo {
  width: 129px;
  height: 42px;
}

.stories__header .signin {
  border: none;
  outline: none;
  background: #f0f1f6;
  color: #000;
  border-radius: 19px;
  font-size: 14px;
  font-weight: 500;
  padding: 11px 18px;
}

.stories__header .signin:hover {
  color: #fff;
  background: #000;
}

.story__details {
  padding: 80px 50px 0px;
}

.story__details .stories .stories-list {
  margin-bottom: 44px;
}

.story__details .stories .stories-list .story-img {
  width: 100%;
  height: 279px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.story__details .stories .stories-list .story-details {
  background: #fff;
  padding: 0 33px 0px;
}

.story__details .stories .stories-list .story-details .success-stories-heading {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  padding: 35px 0px 82px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 78px;
  margin-bottom: 10px;
}

.story__details .stories .stories-list .story-details .success-stories-description {
  padding: 0px 0px 34px;
  color: #898989;
  font-size: 16px;
  margin-bottom: 34px;
}
/*# sourceMappingURL=story-details.css.map */