.stories__header{
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    .stories__logo{
        width: 129px;
        height: 42px;
    }
    .signin{
        border: none;
        outline: none;
        background: #f0f1f6;
        color: #000;
        border-radius: 19px;
        font-size: 14px;
        font-weight: 500;
        padding: 11px 18px;

        &:hover {
            color: #fff;
            background: #000;
        }
    }
}
  .story__details {
    padding: 80px 50px 0px;
 
    .stories {
        .stories-list {
            margin-bottom: 44px;
            // padding: 14px;
            .story-img {
                width: 100%;
                height: 279px;
                object-fit: cover;
                object-position: center;
            }

            .story-details {
                background: #fff;
                 padding: 0 33px 0px;
                .success-stories-heading {
                    font-size: 18px;
                    color: #000;
                    font-weight: 500;
                    padding: 35px 0px 82px 0px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 78px;
                    margin-bottom: 10px;
                }
                .success-stories-description {
                    padding: 0px 0px 34px;
                    color: #898989;
                    font-size: 16px;
                     margin-bottom: 34px;
                }
               
            }
        }

      
    }
}