.stories__header {
  height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.stories__header .stories__logo {
  width: 129px;
  height: 42px;
}

.stories__header .signin {
  border: none;
  outline: none;
  background: #f0f1f6;
  color: #000;
  border-radius: 19px;
  font-size: 14px;
  font-weight: 500;
  padding: 11px 18px;
}

.stories__header .signin:hover {
  color: #fff;
  background: #000;
}

.user-stories {
  padding: 80px 50px 87px;
}

.user-stories .user-stories-heading {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #000;
  margin-bottom: 28px;
  letter-spacing: 0px;
}

.user-stories .user-stories-sub-title {
  color: #898989;
  font-size: 16px;
  text-align: center;
  margin-bottom: 34px;
  letter-spacing: 0px;
}

.user-stories .stories .stories-list {
  margin-bottom: 44px;
}

.user-stories .stories .stories-list .story-img {
  width: 100%;
  height: 154px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.user-stories .stories .stories-list .story-details {
  background: #fff;
  -webkit-box-shadow: 2px 2px 8px #00000029;
          box-shadow: 2px 2px 8px #00000029;
  padding: 0 33px 22px;
}

.user-stories .stories .stories-list .story-details .success-stories-heading {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  padding: 20px 0px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 78px;
  margin-bottom: 10px;
}

.user-stories .stories .stories-list .story-details .success-stories-description {
  padding: 0px 0px 34px;
  color: #898989;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 52px;
  margin-bottom: 34px;
}

.user-stories .stories .stories-list .story-details .read-more {
  color: #1fae4b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=stories.css.map */