.table-container {
	position: relative;
	font-size: 16px;
	font-weight: 300;
	color: #343434;
	background: #ECF2F5;
	width: 90%;
	padding: 24px;
	margin: 24px auto;
}

.table-container > .table-heading {
	margin-bottom: 24px;
	font-size: 24px;
	font-weight: bold;
	color: #005F91;
	width:100%;
	height:auto !important;
}

/* Clear fix for floats */
.table-heading:before,
.table-heading:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}

.table-heading-text,
.table-controls-button {
	height:32px;
}

.table-heading-text {
	float:left;
}

.table-controls-button {
	float:right;
	position:relative;
	left:-8px;
	padding:4px 8px;
	border-radius: 4px;
	font-size:14px;
	color:#FFFFFF;
	background: #005F91;
	line-height:23px;
	cursor:pointer;
}

.controls-dropdown-box {
	position:absolute;
	list-style-type:none;
	top:120%;
	left:0;
	padding-top:40px;
	display:none;
	z-index:200;
	width:120%;
	color: #969696;
	font-weight: 300;
	font-size: 16px;
	background-color:#FFFFFF;
	border-radius: 4px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	border: 0.5px solid #005F91;
}

.controls-dropdown-box > li {
	border-top: 0.5px solid #E5E5E5;
}

.controls-dropdown-box > li:hover {
	background: #005F91;
	color: #FFFFFF;
}

.controls-dropdown-box > .checkbox,
.controls-dropdown-box > .checkbox > .checkbox-label{
	padding:12px 20px;
}


.table-controls-button > p:after {
	content:"";
	display:inline-block;
	width:0;
	height:0;
	margin-left:8px;
	border-top: 5px solid #FFFFFF;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}


/* DATATABLE RESTYLING */

.dataTable-selector {
	font-size: 16px;
	color: #ADB7BE;
	margin-right: 8px;
	background: #FFFFFF;
	border: 0.5px solid #ADB7BE;
	border-radius: 4px;
}

.dataTable-top,
.dataTable-bottom {
	padding: 0;
}

.dataTable-top {
	margin-bottom: 24px;;
}

.dataTable-dropdown {
	color: #005F91;
	font-size: 14px;
	font-weight: normal;
}

.dataTable-dropdown::before {
	content: "Show";
	margin-right: 16px;
}

.dataTable-input {
	padding: 8px 16px;
	font-size: 16px;
	background: #FFFFFF;
	border: 0.5px solid #ADB7BE;
	border-radius: 4px;
}

.dataTable-wrapper.no-footer .dataTable-container {
	border-bottom: none;
}

.dataTable-table {
	margin-bottom: 24px;
}

.dataTable-table > thead {
	background: #F0F0F0;
}

.dataTable-table > tbody > tr {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.dataTable-table > tbody > tr:nth-child(odd) {
	background: #FFFFFF;
}

.dataTable-table > tbody > tr:nth-child(even) {
	background: #F7FCFF;
}

.dataTable-table > thead > tr > th,
.dataTable-table > tbody > tr > td {
	padding: 8px 0 8px 16px;
	color: #005F91;
}

.dataTable-table > thead > tr > th {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 0.5px solid #005F91;
}

.dataTable-table > tbody > tr:last-child > td {
	border-bottom: 0.5px solid #005F91;
}

.dataTable-info {
	font-size: 14px;
	font-weight: bold;
	color: #005F91;
}

.dataTable-pagination a:link {
	font-size: 14px;
	font-weight: bold;
	border-radius: 8px;
}

.dataTable-pagination a:hover,
.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
	background-color: #005F91;
	color: #FFFFFF;
}

.dataTable-pagination a:hover {
	background-color: #46C35F !important;
}

.dataTable-sorter::before,
.dataTable-sorter::after {
	margin-right: 16px;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	right: 4px;
	border-left: none;
	border-right: none;
	opacity: 1;
}

.dataTable-sorter::before {
	content: "▴";
	border-top: none;
	bottom: 24px;
}

.dataTable-sorter::after {
	content: "▾";
}