/*!
 *
 * Vanilla-DataTables
 * Copyright (c) 2015-2017 Karl Saunders (http://mobius.ovh)
 * Licensed under MIT (http://www.opensource.org/licenses/mit-license.php)
 *
 * Version: 1.6.16
 *
 */
.dataTable-wrapper.no-header .dataTable-container {
    border-top: 1px solid #d9d9d9;
}
.dataTable-wrapper.no-footer .dataTable-container {
    border-bottom: 1px solid #d9d9d9;
}
.dataTable-bottom,
.dataTable-top {
    padding: 8px 10px;
    font-size:12px;
}
.dataTable-bottom > div:first-child,
.dataTable-top > div:first-child {
    float: left;
}
.dataTable-bottom > div:last-child,
.dataTable-top > div:last-child {
    float: right;
}
.dataTable-selector {
    padding: 6px;
}
.dataTable-input {
    padding: 6px 12px;
}
.dataTable-info {
    margin: 7px 0;
}
.dataTable-pagination ul {
    margin: 0;
    padding-left: 0;
}
.dataTable-pagination li {
    list-style: none;
    float: left;
}
.dataTable-pagination a {
    border: 1px solid transparent;
    float: left;
    margin-left: 2px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    color: #333;
}
.dataTable-pagination a:hover {
    background-color: #d9d9d9;
}
.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
    background-color: #d9d9d9;
    cursor: default;
}
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover,
.dataTable-pagination .ellipsis a {
    cursor: not-allowed;
}
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
    cursor: not-allowed;
    opacity: 0.4;
}
.dataTable-pagination .pager a {
    font-weight: 700;
}
.dataTable-table {
    max-width: 100%;
    width: 100%;
    border-spacing: 0;
}
.dataTable-table > tbody > tr > td,
.dataTable-table > tbody > tr > th,
.dataTable-table > tfoot > tr > td,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > td,
.dataTable-table > thead > tr > th {
    vertical-align: top;
    padding: 8px 10px;
}
.dataTable-table th,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > th {
    vertical-align: bottom;
    text-align: left;
}
.dataTable-table > thead > tr > th {
    border-bottom: 1px solid #d9d9d9;
}
.dataTable-table > tfoot > tr > th {
    border-top: 1px solid #d9d9d9;
}
.dataTable-table th a {
    text-decoration: none;
    color: inherit;
}
.dataTable-sorter {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
}
.dataTable-sorter::after,
.dataTable-sorter::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    opacity: 0.2;
}
.dataTable-sorter::before {
    border-top: 4px solid #000;
    bottom: 10px;
}
.dataTable-sorter::after {
    border-bottom: 4px solid #000;
    border-top: 4px solid transparent;
    top: 0;
}
.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before {
    opacity: 0.6;
}
.dataTables-empty {
    text-align: center;
}
.dataTable-bottom::after,
.dataTable-top::after {
    clear: both;
    content: " ";
    display: table;
}
